{% extends "layout.html" %}

{% block title %}Contact{% endblock title %}
{% block content  %}
    <h1>Contact Us</h1>
    <h3>Mobile:  {{mob}}</h3>
    <h4>Email: {{email}}</h4>
    {% if a > b %}
        <p>{{a}} is greater</p>
    {% elif a is b %}
        <p>Both are equal</p>    
    {% else %}    
        <p>{{b}} is greater</p>
    {% endif %}

    <ul>
    {% for l in languages%}
        <li>{{l}}</li>
    {% endfor %}
    </ul>

    <h3>{{blog.title}}</h3>
    <p>{{blog.author}}</p>
    <p>{{blog.content}}</p>

    {% for k,v in blog.items %}
        <p>{{k}} : {{v}}</p>
    {% endfor %}

   <table border="1" cellpadding="5">
        <tr>
            <th>Roll</th>
            <th>Name</th>
            <th>CGPA</th>
        </tr>

        {% for s in students  %}

        <tr>
            <td>{{s.roll}}</td>
            <td>{{s.name}}</td>
            <td>{{s.cgpa}}</td>
        </tr>
        
        {% endfor %}
   </table>
{% endblock  %}