{% extends "layout.html" %}
{% load static %}
{% block content  %}
    <div class="container">
        <div class="row g-2 my-2">
            <div class="col-md-7 hero-text">
                <h1 class="display-4 mb-1">
                    Welcome to PulseAI: Your Partner in Heart Health
                </h1>
                <p class="lead">
                    Unlock the power of AI to take control of your heart health journey. PulseAI is your comprehensive portal offering expert insights, personalized tools, and seamless healthcare access—all in one place.                </p>
                <ul>
                    <li>Expert Insights</li>
                    <li>AI-Powered Predictive Tools</li>
                    <li>Direct Access to Cardiologists</li>
                    <li>Manage Your Health</li>
                </ul>
            </div>
            <div class="col-md-5 d-none d-md-block">
                <img src="{% static "images/hero-img.jpg" %}" class="img-fluid h-100" >
            </div>
        </div>

        <h1>Living Healthy</h1>
        <hr>
        <div class="living">
            <div class="liv1"><img src="https://img.lb.wbmdstatic.com/vim/live/webmd/consumer_assets/site_images/home_page/living-healthy-mental-health.png?resize=484px:*&output-quality=70" alt=""><h1>Mental Health</h1></div>
            <div class="liv1"><img src="https://buzzrx.s3.amazonaws.com/fda7f396-8a63-4eee-8e51-1d0445d4d8fd/MotivationSmoking.png" alt=""><h1>Stop Smoking</h1></div>
            <div class="liv1"><img src="https://www.freevector.com/uploads/vector/preview/30883/EAT_HEALTHY_FOOD.jpg" alt=""></div>
            <div class="liv1"><img src="https://img.lb.wbmdstatic.com/vim/live/webmd/consumer_assets/site_images/home_page/living-healthy-fitness-exercise.png?resize=484px:*&output-quality=70" alt=""><h1>Fitness & Exercise</h1></div>
            <div class="liv1"><img src="https://aquastarswim.com.au/app/uploads/2023/04/Good-technique.jpg" alt=""><h1>Swim</h1></div>
        </div>

        <br>
        <br>

        <div class="why-act">
            <div class="line1"></div>
            <div class="why-text">
                <h1>Why we need to Act Now?</h1>
            </div>
            <div class="line1"></div>
        </div>

        <div class="why-now">
            <div class="now1">
                <div class="i-tag">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <br>
                <br>
                <p>CVDs are the number 1 cause of death globally: more people die annually from CVDs than from any other cause.</p>
            </div>
            <div class="now1">
                <div class="i-tag">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <br>
                <br>
                <p>Out of the 16 million deaths under the age of 70 due to noncommunicable diseases, 82% are in low and middle income countries and 37% are caused by CVDs.</p>
            </div>
            <div class="now1">
                <div class="i-tag">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <br>
                <br>
                <p>An estimated 17.5 million people died from CVDs in 2019, representing 32% of all global deaths.</p>
            </div>
            <div class="now1">
                <div class="i-tag">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <br>
                <br>
                <p>Atherosclerotic cardiovascular disease (ASCVD) is the underlying cause of 85% of heart attack and stroke related deaths. 80% of premature cardiovascular events can be prevented.</p>
            </div>
        </div>
        <br>
        <br>
        <br>

        <div class="scroll-container">
            <div class="scroll-item">
                <img src="https://yt3.googleusercontent.com/c1FW9KnEPqDdWqNw5RR9geZwt479yXfSaBXJkPgII93jOfJBaMDQTZ5nJ1fU9N4qJD2t08qlhw=s900-c-k-c0x00ffffff-no-rj" class="pimg">
                    <img src="https://i.pinimg.com/originals/b7/1f/1f/b71f1f44c8338d90047e60ac69de22ec.jpg" class="pimg">
                    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/healthcare-%7C-medical-%7C-hospital-logo-design-template-f9bcb68f480fabac31102ca9eb971193_screen.jpg?ts=1613379280" class="pimg">
                    <img src="https://i.pinimg.com/736x/d0/d9/c6/d0d9c6d33e8902e7449c76ee890dd076.jpg" class="pimg">
                    <img src="https://logowik.com/content/uploads/images/liv-hospital2359.jpg" class="pimg">
                    <img src="https://mir-s3-cdn-cf.behance.net/projects/404/97a3bd199835471.Y3JvcCwxMDgwLDg0NCwwLDI1MQ.png" class="pimg">
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
   
{% endblock  %}