@media (max-width:565px){
    .hero-text{
        background-image: url(./../images/hero-img.jpg);
        padding: 1rem;
        color: yellow;
    }
}

body{
    overflow-x: hidden;
}

.blog-details img{
    display: block;
    margin: auto;
}

.success{
    color: green;
}

.error{
    color: red;
}

.living{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 251px);
}
.liv1{
    /* padding: 10px; */
    height: 400px;
    max-width: 300px;
    border: 2px solid red;
    position: relative;
    overflow: hidden;
}

.liv1 img{
    max-width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.liv1 h1{
    position: absolute;
    bottom: 2px;
    text-align: center;
    color: white;
}

.liv1 img:hover{
    transform: scale(1.1);
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
    transition: all .5s ease;
}

.scroll-container{
    overflow: hidden;
}

.scroll-item{
    display: flex;
    transform: translateX(100%);
    animation: scrollanimate 10s linear infinite;
}

.pimg{
    width: 10rem;
    height: 6rem;
    margin: 1rem;
}

.pimg {
    border: 3px solid red;
}

.why-act{
    display: grid;
    grid-template-columns: repeat(auto-fill,425.33px);
    gap: 10px;
    text-align: center;
}
.why-act h1{
    font-size: 3rem;
    color: rgb(15, 1, 29);
}
.why-now{
    display: grid;
    grid-template-columns: repeat(auto-fill,310.08px);
    gap: 10px;
}

.now1{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;  
}
.now1 i{
    border: 2px solid purple;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 50px;
}

.now1 i:hover{
    background-color: rgb(129, 250, 129);
    transition: all .5s ease-in-out;
}
.now1 p{
    font-size: 20px;
    color: rgb(185, 184, 184);
}
.con1 i{
    margin: 7px;
    font-size: 25px;
}
.con1 a{
    color: white;
    text-decoration: none;
}
.i-tag {
    width: 300px;
   text-align: center;
}
.line1{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0px;
    margin: 0px;
    height: 10px;
    margin-top: 7%
}
.contacts{
    display: grid;
    grid-template-columns: repeat(auto-fill,340px);
    gap: 10px;
    text-align: center;
    background-color: rgb(11, 176, 198);
    color: white;
    height: 100%;
    padding: 10px;

}

.about{
    width: 100%;
    height: 300px;
    border-bottom: 2px solid rgb(152, 152, 152);
}

.about img{
    filter: blur(4px);
}

.text{
    color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  font-size: 28px;
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-100%, -100%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.abouts p,ul{
    font-size: 20px;
}

.abouts i{
    text-align: center;
}
.abouts h2{
    color: rgb(0, 170, 255);
    font-weight: bold;
}
.abimg{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.ab1 img{
    width: 242.08px;
    height: 90.09px;
    margin: 20px;
}

.vid{
    height: 500px;
    width: 100px;
}

.sidebar-wrapper{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@keyframes scrollanimate {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-230%);
    }
}